.field-type.text {
  padding-top: 20px;
}

div#field-category {
  padding-top: 20px;
}

.field-type.radio-group.radio-group--layout-horizontal {
  padding-top: 20px;
}

.array-field__header {
  padding-top: 20px;
}

.rich-text-lexical__wrap {
  padding-top: 20px;
}

.field-type.select {
  margin-top: 18px;
}

.field-type.relationship {
  margin-top: 18px !important;
}

.field-type.number {
  margin-top: 18px !important;
}

.field-type.date-time-field {
  margin-top: 20px !important;
}

.field-type.textarea {
  margin-top: 20px !important;
}

div#field-keypoints {
  margin-top: 20px !important;
}

.rich-text-lexical__wrap {
  margin-top: 20px !important;
}

.field-type.upload {
  margin-top: 20px !important;
}
